p{
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    background-color: rgb(237, 94, 218);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

